---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Compétences</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://www.php.net/docs.php"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/php-logo.png"
            width="100"
            height="60"
            alt="php"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/htmlcssjs-logo.png"
            width="100"
            height="60"
            alt="htmlcssjs"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a href="https://dev.java" target="_blank" rel="noopener noreferrer">
          <img
            src="/logos/java-logo.png"
            width="100"
            height="60"
            alt="java"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://docs.microsoft.com/en-us/dotnet/csharp/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/csharp-logo.png"
            width="100"
            height="60"
            alt="csharp"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://dev.mysql.com/doc/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/mysql-logo.png"
            width="100"
            height="60"
            alt="mysql"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://www.postgresql.org/docs/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/pgsql-logo.png"
            width="100"
            height="60"
            alt="pgsql"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://learn.microsoft.com/fr-fr/visualstudio/windows/?view=vs-2022"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/vscode-logo.png"
            width="100"
            height="60"
            alt="vscode"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://www.jetbrains.com/idea/documentation/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/intellij-logo.png"
            width="100"
            height="60"
            alt="intelij"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://www.cybersecurity.org/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/cybersecurity-logo.png"
            width="100"
            height="60"
            alt="cybersecurite"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <a
          href="https://www.networkworld.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/reseau-logo.png"
            width="100"
            height="60"
            alt="reseaux"
            class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
          />
        </a>
      </div>
    </div>
  </Container>
</section>
